.hidden {
  display: none;
}

#img_health {
  x: 10%;
  y: 90%;
  width: 207;
  height: 15;
}

#img_s_empty {
  x: 10%-1;
  y: 78%;
  width: 53%;
  height: 25;
}

#img_s_full {
  x: 10%-1;
  y: 78%;
  width: 53%;
  height: 25;
}

#img_shield {
  x: 10%;
  y: 80%;
  width: 53%;
  height: 25;
}

#img_xp {
  x: 5;
  y: 6;
  width: 100%-2;
  height: 11;
}

.font {
  font-family: System-Bold;
  text-length: 32;
}

#stepGoal {
  fill: white;
  font-size: 23;
  x: 50%+7;
  y: 36;
}

#dayOfWeek {
  fill: cyan;
  background-color: black;
  font-size: 20;
  text-anchor: start;
  x: 10%-2;
  y: 75%;
}

#currentSteps {
  fill: white;
  font-size: 23;
  text-anchor: end;
  x: 50%;
  y: 36;
}

#hrLevel {
  fill: white;
  font-size: 20;
  text-anchor: start;
  x: 63%;
  y: 84%;
}

#level {
  fill: white;
  font-size: 27;
  text-anchor: middle;
  x: 82%;
  y: 96%;
}

#hrm {
  fill: white;
  font-size: 23;
  x: 15%;
  y: 100%-4;
}

#hrmShadow {
  fill: black;
  font-size: 23;
  x: 15%-2;
  y: 100%-2;
}

#battery {
  fill: white;
  font-size: 23;
  x: 15%;
  y: 87%;
}

#batteryShadow {
  fill: black;
  font-size: 23;
  x: 15%-2;
  y: 87%+2;
}